@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,400;1,900&display=swap');



$primary: #6638F0;
$secondary:#5CC9F5;
$containerstroke: ##EEECF1;



html {
    font-family: 'Poppins';
    width: 100%;
    text-align: center;
}


.box {
    display: flex;
    align-items: center;
    width: 604px;
    height: 211px;
    left: calc(50% - 604px/2 - 22px);
    top: calc(50% - 211px/2 + 0.5px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f9f8fb 50%), #ffffff;
    border: 1px solid #eeecf1;
    border-radius: 4px;
    font-family: 'Poppins';
    padding: 20px;
    margin: 500px auto;
    
    
}

.content{
    justify-content: center;
    }
    
    h3{
    font-size: 24px;
    font-weight: 600;
    text-align: left;

    }
    
    h4{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    }
}

.button{
    text-align: left;
}

.modal-container {
    display: block;
    align-items: center;
    width: 752px;
    height: 543px;
    margin: auto;
    font-family: Poppins;
    position: fixed;
    top: 0; bottom: 0; left: 200px;
    background-color: aliceblue;
    
    img{
        margin-top: -500px; 
        padding: 20px;
    }
    
        p{
            text-align: left;
    }
}

.popup-button{
    display: flex;
    
    a{
    margin-left: 20px;
    text-decoration: none;
    color: ;
}

.gradient {
    width: 375px;
    background-image: linear-gradient(rgba(102, 56, 240, 1),rgba(92, 201, 245, 1));
    height: 543px;
}
.popup {
    background-color:;
    padding: 9px 14px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    width: 313px;
    padding: 37px;
    
    h3{
    font-size: 24px;
    font-weight: 600;
    }
    
    p{
    font-size: 16px;
    font-weight: 400;
    }
    
    }
}

