@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,400;1,900&display=swap");
/* line 8, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
button {
  color: aliceblue;
  background-color: #6638f0;
  padding: 9px 14px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

/* line 18, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6d6;
  width: 604px;
  font-family: Poppins;
  padding: 20px;
  margin: 500px auto;
  order: 1;
}

/* line 29, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.box h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

/* line 36, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.box h4 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

/* line 46, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
button {
  text-align: left;
}

/* line 51, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
#open:hover {
  color: #5cc9f5;
}

/* line 55, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.modal-container {
  display: flex;
  align-items: center;
  width: 752px;
  height: 543px;
  margin: auto;
  font-family: Poppins;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200px;
  background-color: aliceblue;
}

/* line 66, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.modal-container img {
  margin-top: -500px;
  padding: 20px;
}

/* line 71, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.modal-container p {
  text-align: left;
}

/* line 76, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.button2 {
  display: flex;
}

/* line 79, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.button2 a {
  margin-left: 20px;
  text-decoration: none;
  color: #6638f0;
}

/* line 85, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.button2 .gradient {
  width: 375px;
  background-image: linear-gradient(#6638f0, #5cc9f5);
  height: 543px;
}

/* line 91, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.button2 .popup {
  width: 313px;
  padding: 37px;
}

/* line 95, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.button2 .popup h3 {
  font-size: 24px;
  font-weight: 600;
}

/* line 100, ../../../OneDrive/Desktop/Graphic Design/Advanced Webpage Design/Exercises/Torres_exSCSS/styles/style.scss */
.button2 .popup p {
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */